.article__link {
  color: var(--black);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--brand);
  }

  &:active {
    color: var(--brand-dark);
  }
}

.article__header {
  margin-bottom: var(--gapHalf);
}

.article__excerpt {
  margin-bottom: var(--gapHalf);
}

.article__meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media (--tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.article__tags {
  line-height: 1.72;
}

.article__date {
  display: inline-block;
  font-size: $font-S;
  line-height: 1.72;
  color: $gray;
}
.article__readingTime {
  @media (--tablet) {
    margin-left: auto;
  }
}
.article__canonical {
  display: inline-block;
  color: $gray;
  font-style: italic;
}

/* Extra styles needed for styling of header links */
.article__content h2,
.article__content h3,
.article__content h4,
.article__content h5,
.article__content h6 {
  position: relative;
}

.article__content h2 {
  margin-top: calc(var(--gapOne) * 3);
}

.article__content h3 {
  margin-top: calc(var(--gapOne) * 1.5);
}

/* Styles for codepen embeds */
.cp_embed_wrapper {
  margin-bottom: 1.5em;
}

.article__content aside {
  @include getFontSize($font-S, $font-M);
  padding: var(--gapHalf);
  border: 2px solid $light-gray;

  @media (--tablet) {
    font-size: $font-M;
  }
}

/*
* [1]  we use `em` instead of `rem` in order to ensure spacing between paragraphs is consistent
*      with the line-height when used with fluid typography.
*/
.article__content li {
  margin-bottom: calc(1.65em / 4); /* [1] */
}

.article__content li:last-child {
  margin-bottom: 0;
}
