/* @font-face {
  font-family: "Intern-Variable";
  src: url("/fonts/Inter-var-subset.woff2") format("woff2");
  unicode-range: U+20-7F;
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "Intern";
  src: url("/fonts/Inter-Light-BETA-subset.woff2") format("woff2"),
    url("/fonts/Inter-Light-BETA-subset.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+20, U+21, U+26-29, U+2C, U+2E-3A, U+3F-5A, U+61-7A, U+A0, U+A9, U+2014, U+2026,
    U+E06B-E070, U+E087;
} */

:root {
  box-sizing: border-box;
  font-weight: 400;
  /* Define font-stacks */
  --fonts-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  /* --fonts: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif; */

  /* Define app colors */
  --black: $black;
  --brand: $brand;
  --brand-dark: $brand-dark;
  --light-gray: $light-gray;
  --gray: $gray;
  --white: $white;

  /* sizing */
  --maxWidth: 46rem;
  --gapOne: 1.5rem;
  --gapHalf: calc(var(--gapOne) / 2);

  @media (--tablet) {
    --gapOne: 1.6875rem;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Using `focus-visible` with fallback for unsupporting browsers.
 * @see https://css-tricks.com/focus-visible-and-backwards-compatibility/
 **/
*:focus {
  outline: 2px solid var(--brand);
  outline-offset: 3px;
}

*:focus:not(:focus-visible) {
  outline: 2px solid transparent;
}

*:focus-visible {
  outline: 2px solid var(--brand);
}

body,
input,
textarea,
button {
  /* font-family: var(--fonts); */
  font-family: var(--fonts-fallback);
  /* font rendering optimalizations */
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0 var(--gapHalf);
  overflow-x: hidden;

  @include getFontSize($font-M, $font-L);
  line-height: 1.65;
  font-weight: 400;
  color: var(--black);

  @media (--tablet) {
    font-size: $font-L;
    padding: 0 var(--gapOne);
  }
}

/* body.fonts-loaded,
.fonts-loaded input,
.fonts-loaded textarea,
.fonts-loaded button {
  font-family: var(--fonts);
} */

main {
  --header-height: calc(var(--gapOne) * 5);
  --footer-height: calc(var(--gapOne) * 3);
  margin: 0 auto;
  max-width: var(--maxWidth);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding-top: calc(var(--gapOne) * 2);
  padding-bottom: calc(var(--gapOne) * 2);

  @media (--tablet) {
    --header-height: calc(var(--gapOne) * 3);
    padding-top: calc(var(--gapOne) * 3);
    /* padding-bottom: calc(var(--gapOne) * 2); */
  }
}

kbd,
pre,
code {
  font-family: monospace, monospace;
  font-size: 1.05rem;
  background: #eceef9;
  border-radius: 0.2em;
  padding: 0.2ch;
  font-size: 0.9em;
}

/*
* [1]  we use `em` instead of `rem` in order to ensure spacing between paragraphs is consistent
*      with the line-height when used with fluid typography.
*/
aside,
figure,
picture,
pre,
table,
ul,
ol,
[role='region'],
p {
  margin: 0;
  margin-bottom: 1.65em; /* [1] */
}

figure > pre,
figure > pre[class],
figure > picture {
  margin-bottom: 0;
}

ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0;
}

p:empty {
  display: none;
}

strong {
  font-weight: 700;
}

small {
  font-size: $font-S;
  line-height: 1.5;
}

a {
  transition: color 200ms ease-out;
}

a:not([class]) {
  color: $brand;

  &:hover,
  &:focus {
    color: $brand;
  }

  &:active {
    color: $brand-dark;
  }

  &:visited {
    color: $visited;
  }
}

pre[class*='language-'] {
  padding: calc(var(--gapOne) * 2);

  @media screen and (min-width: 980px) {
    margin-left: calc(var(--gapOne) * -3);
    margin-right: calc(var(--gapOne) * -3);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

picture {
  display: block;

  @media screen and (min-width: 980px) {
    margin-left: calc(var(--gapOne) * -3);
    margin-right: calc(var(--gapOne) * -3);
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

figcaption {
  font-size: $font-S;
  text-align: center;
}

blockquote:not([class]) {
  position: relative;
  font-style: italic;
  font-weight: 500;
  margin-top: calc(var(--gapOne) * 2);
  margin-bottom: calc(var(--gapOne) * 2);
  margin-left: 0;
  margin-right: 0;
  padding-left: calc(var(--gapOne) * 2);
  padding-right: calc(var(--gapOne) * 2);

  &:before {
    content: '\201D';
    font-size: 8rem;
    color: var(--brand);
    opacity: 0.65;
    font-family: sans-serif;
    position: absolute;
    left: -15px;
    top: -10px;
    line-height: 1;
  }
}

hr {
  margin-top: calc(var(--gapOne) * 2);
  margin-bottom: calc(var(--gapOne) * 2);
  border: 0;
  border-bottom: 1px solid $light-gray;
}
