.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(var(--gapOne) * 3);

  @media screen and (min-width: 720px) and (max-width: 941px) {
    align-items: flex-start;
    flex-direction: row;
  }

  @media screen and (min-width: 941px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.header__left {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--gapHalf);
  margin-bottom: var(--gapHalf);

  @media screen and (min-width: 720px) and (max-width: 941px) {
    align-items: flex-start;
  }

  @media screen and (min-width: 941px) {
    margin: 0;
    flex-direction: row;
  }
}

.header__right {
  margin-bottom: var(--gapHalf);

  @media screen and (min-width: 720px) and (max-width: 941px) {
    margin-top: var(--gapHalf);
    margin-left: auto;
  }

  @media screen and (min-width: 941px) {
    margin: 0;
    margin-left: auto;
  }
}
