.headingAnchor__wrapper {
  position: relative;
}

.headingAnchor__link {
  bottom: 100%;
  left: -4px;
  position: absolute;
  width: 0.8em;
  color: var(--gray);
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;

  @media (--tablet) {
    width: 1.1em;
    margin-left: -1.1em;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.article__content .headingAnchor__link {
  display: inline-block;
}

@media (--tablet) {
  h2 + .headingAnchor__link {
    top: 13%;
  }

  h3 + .headingAnchor__link {
    top: 7%;
  }
}
