.headerAnchor__wrapper {
  position: relative;
}

.headerAnchor__link {
  display: none;
  width: 0.8em;
  color: var(--gray);
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;

  @media (--tablet) {
    width: 1.1em;
    margin-left: -1.1em;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.article__content .headerAnchor__link {
  display: inline-block;
}
