.header-anchor {
  display: none;
  width: 0.8em;
  color: $light-gray;
  text-decoration: none;
  text-align: center;

  @media (--tablet) {
    width: 1.1em;
    margin-left: -1.1em;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.article__content .header-anchor {
  display: inline-block;
}
