.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--gapOne);
  height: var(--gapOne);
  fill: currentColor;

  @media (--tablet) {
    width: calc(0.8 * var(--gapOne));
    height: calc(0.8 * var(--gapOne));
  }
}
