.profilePicture {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin: 0 auto calc(1 * var(--gapOne));

  @media (--tablet) {
    width: 10rem;
    height: 10rem;
    margin: 0 auto calc(2 * var(--gapOne));
  }
}
