.socialLinks {
  display: flex;
  list-style: none;
}

.socialLinks__link {
  color: $gray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: calc(1.5 * var(--gapOne));
  width: calc(1.5 * var(--gapOne));
  margin: 0 calc(0.25 * var(--gapOne));

  :hover,
  :focus {
    color: $brand;
  }
}
