<div>
  <span id="tags-label" aria-hidden hidden>Tags:</span>
  <ul class="tags" aria-labeledby="tags-label">
    {% for tag in tags %}
      {% if tag != 'posts' and tag != 'project' %}
      <li class="tags__tag">{{tag}}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
