<div>
  <ul class="tags" aria-label="Tags">
    {% for tag in tags %}
      {% if tag != 'posts' and tag != 'project' %}
      <li class="tags__tag">{{tag}}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
