<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{(title | withAuthor) or metadata.title}}</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{description or metadata.description}}">

  {# ANALYTICS SECTION #}
  {% if not isdevelopment %}
  <script async defer data-domain="pustelto.com" src="https://plausible.io/js/plausible.js"></script>
  {% endif %}

  {# STYLESHEETS #}
  <link rel="stylesheet" href="/styles/main.css?v=2">
  <noscript>
    <link rel="stylesheet" href="/styles/main.css?v=2" media="all">
  </noscript>
  {% if tags and "posts" in tags %}
    <link rel="stylesheet" href="/styles/prism-theme.css?v=1" media="print" onload="this.media='all'">
  {% endif %}

  {# CANONICAL URL #}
  {% if canonical %}
    <link rel="canonical" href="{{canonical}}">
  {% endif %}

  {# RSS FEED #}
  <link  rel="alternate" href="{{ '/feed.xml' | url | absoluteUrl(metadata.url) }}" type="application/rss+xml" title="Pustelto.com blog feed" />

  {# FAVICONS AND SOCIAL MEDIA #}
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  {% include 'head_social_media.njk' %}
</head>
<body>
  {% include 'icons.njk' %}
  {% include 'header.njk' %}

  {{content | safe}}

  {% include 'footer.njk' %}
</body>
</html>
