<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{(title | withAuthor) or metadata.title}}</title>
  <meta name="description" content="{{description or metadata.description}}">

  {# ANALYTICS SECTION #}
  <link href="https://plausible.io" rel="preconnect" crossorigin>

  {# FAVICONS AND SOCIAL MEDIA #}
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  {% include 'head_social_media.njk' %}

  {# STYLESHEETS #}
  <link rel="stylesheet" href="/styles/index.css?v=1">
  <noscript>
    <link rel="stylesheet" href="/styles/index.css?v=1">
  </noscript>
  {% if tags and "posts" in tags %}
    <link rel="stylesheet" href="/styles/prism-theme.css?v=1" media="print" onload="this.media='all'">
  {% endif %}
</head>
<body>
  {% include 'icons.njk' %}
  {% include 'header.njk' %}

  {{content | safe}}

  {% include 'footer.njk' %}
</body>
</html>
