---
layout: layouts/page.njk
---
<div itemscope itemtype="https://schema.org/BlogPosting" itemid="{{ page.url | url | absoluteUrl(metadata.url) }}">
  <h1 itemprop="headline" class="h1 article__header">{{title}}</h1>
  <meta itemprop="author" content="Tomas Pustelnik"/>
  <meta itemprop="abstract" content="{{excerpt}}"/>
  <meta itemprop="url" content="{{ page.url | url | absoluteUrl(metadata.url) }}"/>
  <div class="article__meta u-margin-b-0">
    {% set tags = tags %}
    <div class="article__tags">
      {% include 'tags.njk' %}
    </div>
    <span class="article__date">
      Published on <time itemprop="datePublished" datetime="{{date | isoDate}}"> {{date | readableDate}}</time>{% if modified %}, last modified on <time itemprop="dateModified" datetime="{{modified | isoDate}}">{{modified | readableDate}}</time>{% endif %}
    </span>
  </div>
  <div class="article__meta u-margin-b-1">
    <div class="article__date article__readingTime"><span aria-hidden>~</span><time itemprop="timeRequired" datetime="{{content | readingTime | isoDuration}}">{{ content | readingTime }}</time> reading time</div>
  </div>

  {% if canonical %}
  <div class="article__meta u-margin-b-1">
    <div class="article__canonical">This article was originaly published at <a href="{{ canonical }}">{{canonical}}</a></div>
  </div>
  {% endif %}

  <div itemprop="articleBody" class="article__content u-margin-b-2">
    {{content | safe}}
  </div>
</div>

<div class="sharing">
  <p>Thanks for reading the article. If you have any suggestions or ideas how to make the article better or you simply like it, feel free to share and discuss it on Twitter.</p>
  <div class="sharing__buttons">
    <a class="twitter-share-button" href="{{page.url | twitterShare(twitter)}}"><i></i><span>Share and discuss</span></a>
  </div>
</div>

<section class="author" aria-label="About the author">
  <div class="author__imgWrapper">
    <picture>
      <source
        type="image/avif"
        srcset="/images/me.avif 80w, /images/me@2x.avif 160w, , /images/me@2x.avif 240w"
        sizes="5rem"
      >
      <source
        type="image/webp"
        srcset="/images/me.webp 80w, /images/me@2x.webp 160w, , /images/me@2x.webp 240w"
        sizes="5rem"
      >
      <img
      class="author__img"
        src="/images/me.jpg"
        alt=""
        srcset="/images/me.jpg 80w, /images/me@2x.jpg 160w, , /images/me@2x.jpg 240w"
        sizes="5rem"
        loading="lazy"
      >
    </picture>
  </div>
  <div class="author__data">
    <p class="h6 author__name">
      Tomas Pustelnik
    </p>
    <p class="author__bio">
    Front-end developer with focus on semantic HTML, CSS, performance and accessibility. Fan of great and clever design, tooling addict and neverending learner. Building <a href="https://qjub.app?ref=pustelto">Qjub</a> in my free time and writing on this blog.
    </p>
  </div>
</section>
