---
title: Page not found
layout: layouts/page.njk
eleventyExcludeFromCollections: true
permalink: /404.html
customShareImage: false
---
<div class="errHeader"><span class="errCode" aria-hidden>404</span><h1>Page not found</h1></div>
<p>I have no idea what this page should be about <span aria-hidden>¯\_(ツ)_/¯</span>.</p>
<p>But I'm sure it is not here on my web. I suggest to check my <a href="/">home page</a> or <a href="/blog/">blog</a>. Perhaps you will find what you need there.</p>
