---
title: About me
layout: layouts/page.njk
eleventyNavigation:
  key: About me
  order: 5
---


<h1>About me</h1>

<div class="about__hi u-margin-b-2">
  <p>
    <span>Hi there 👋,</span> <span>I’m Tomáš Pustelník.</span>
  </p>

  <p>I’m a self-taught front-end engineer and accessibility advocate living in Brno, Czech Republic. I focus on React,
    semantic HTML, CSS, accessibility, and web performance.</p>
</div>

<div class="about__mission u-margin-b-2">

  <picture class="about__missionImg">
    <source type="image/avif" srcset="/images/profile_pic-320.avif 320w,
              /images/profile_pic-480.avif 480w,
              /images/profile_pic-640.avif 640w,
              /images/profile_pic-960.avif 960w,
              /images/profile_pic-1440.avif 1440w" sizes="(max-width: 70rem) 20rem,
             30rem">
    <source type="image/webp" srcset="/images/profile_pic-320.webp 320w,
              /images/profile_pic-480.webp 480w,
              /images/profile_pic-640.webp 640w,
              /images/profile_pic-960.webp 960w,
              /images/profile_pic-1440.webp 1440w" sizes="(max-width: 70rem) 20rem,
             30rem">
    <img src="/images/profile_pic.jpg" alt="" srcset="/images/profile_pic-320.jpeg 320w,
              /images/profile_pic-480.jpeg 480w,
              /images/profile_pic-640.jpeg 640w,
              /images/profile_pic-960.jpeg 960w,
              /images/profile_pic-1440.jpeg 1440w" sizes="(max-width: 70rem) 20rem,
             30rem" width="320" height="320">
  </picture>

  <blockquote class="about__missionText">I’m on a mission to help build a better web for everyone by learning the ins
    and outs of front-end craft and sharing my knowledge with others.</blockquote>
</div>

<p>I have been doing front-end development for over 8 years now, starting out with HTML and CSS, currently primarily
  working with React on large-scale apps. Despite my focus on modern frameworks, I still believe in the importance of
  mastering the basics and strive to maintain a strong foundation in HTML, CSS, and vanilla JavaScript. I have a passion
  for accessibility and always keep user needs in mind when working on projects.</p>

<p>In addition to my work, I enjoy spending time with my family (I'm a father of three boys) and hobbies such as being
  in nature, reading, and enjoying great tea.</p>

<h2>What do I offer</h2>

<p>I offer a range of services - accessibility testing, consultancy, and comprehensive training. If you are looking to
  improve your existing accessibility efforts, feel free to reach out.</p>

<p>Here's how I can support you:</p>

<h3>Accessibility consultancy</h3>
<p>Does your client need an accessible website, but you don't know how to tackle it? Do you need advice with
  accessibility testing? I will help your team to detect and fix accessibility issues, and implement accessible
  solutions. Consultation can revolve around specific projects and needs or just be general help.</p>

<h3>Accessibility training</h3>

<p>Tailored on-site training for your frontend or design teams, packed with practical tips. I'll help your team develop
  a deep understanding of accessibility principles, ensuring they are capable of implementing inclusive design in your
  projects.</p>

<p>The training will focus on generic accessibility principles, various ways of testing and detecting accessibility
  issues, their remediation, and building accessible interfaces.</p>

<h3>Website accessibility evaluation</h3>

<p>I will help you identify accessibility issues on your website. I will audit agreed pages and user flows and deliver
  you a prioritized list of accessibility issues with recommendations on how to fix them.</p>

<p>I do prefer more in-depth cooperation that can really help you with accessibility. For example, aside from accessible
  audit alone, I will also provide a trainig for your team or do a consultations that will help you fix discovered
  issues. I believe this approach can provide you with the greatest value.</p>

<h2>What I don’t do</h2>

<p>I'm not interested in working as a long-term regular member of a front-end development team. I also don't work with
  React Native.</p>
<hr />
<h2>Interested in working with me?</h2>

<p class="perex">
  Feel free to contact me at <a href="mailto:tomas@pustelto.com">tomas@pustelto.com</a>.
</p>
