---
title: Blog
layout: layouts/page.njk
eleventyNavigation:
  key: Blog
  order: 2
description: Articles I have written. They focus mainly on front-end topics (HTML, CSS, accessibility, and performance) and developer productivity. 
---
<h1>Blog posts</h1>
{% set listing = collections.blogposts | reverse %}
{% set headingLevel = 'h2' %}
{% include 'post_listing.njk' %}
