---
layout: layouts/page.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="u-margin-b-3 tablet-u-margin-b-4">
  <picture>
    <source
      type="image/webp"
      srcset="/images/me.webp 200w, /images/me@2x.webp 400w"
      sizes="(max-width: 44.9375rem): 8rem, 10rem"
    >
    <img
      class="profilePicture"
      src="/images/me.jpg"
      alt=""
      srcset="/images/me.jpg 200w, /images/me@2x.jpg 400w"
      sizes="(max-width: 44.9375rem): 8rem, 10rem"
    >
  </picture>
  <h1 class="welcome">
    <span class="welcome__subheading">Welcome</span>
    <span class="welcome__title">I'm Tomas Pustelnik</span>
  </h1>
  <p>I'm frontend developer with focus on semantic HTML, CSS, performance and accessibility. Founder of <a href="https://qjub.app">Qjub</a> and author of few small open source projects. Currently building React and React Native stuff at <a href="https://webscope.io">Webscope.io</a>. Fan of great and clever design, tooling addict and neverending learner.</p>

  <p>I write irregularry about front-end development and about my journey building Qjub.</p>
</div>

<div class="u-margin-b-3  tablet-u-margin-b-4">
  <h2>Blog posts</h2>
  {% set listing = collections.blogposts | head(-2) | reverse %}
  {% include 'post_listing.njk' %}
  {% if collections.blogposts | length > 2 %}
    <div class="more">
      <a href="{{ '/blog/' | url }}" class="more__link">More articles</a>
    </div>
  {% endif %}
</div>

<div>
  <h2>My Projects</h2>
  {% set listing = collections.featuredProjects | head(2) %}
  {% include 'project_listing.njk' %}
  {% if collections.featuredProjects | length > 2 %}
    <div class="more">
      <a href="{{ '/projects/' | url }}" class="more__link">More projects</a>
    </div>
  {% endif %}
</div>
