---
layout: layouts/page.njk
customShareImage: false
eleventyNavigation:
  key: Home
  order: 1
---
<div class="u-margin-b-3 tablet-u-margin-b-4">
  <picture>
    <source
      type="image/avif"
      srcset="/images/me.avif 80w,
              /images/me@2x.avif 160w,
              /images/me@3x.avif 240w,
              /images/me_large.avif 160w,
              /images/me_large@2x.avif 320w,
              /images/me_large@3x.avif 480w"
      sizes="(max-width: 44.9375rem) 8rem,
             10rem"
    >
    <source
      type="image/webp"
      srcset="/images/me.webp 80w,
              /images/me@2x.webp 160w,
              /images/me@3x.webp 240w,
              /images/me_large.webp 160w,
              /images/me_large@2x.webp 320w,
              /images/me_large@3x.webp 480w"
      sizes="(max-width: 44.9375rem) 8rem,
             10rem"
    >
    <img
      class="profilePicture"
      src="/images/me.jpg"
      alt=""
      srcset="/images/me.jpg 80w,
              /images/me@2x.jpg 160w,
              /images/me@3x.jpg 240w,
              /images/me_large.jpg 160w,
              /images/me_large@2x.jpg 320w,
              /images/me_large@3x.jpg 480w"
      sizes="(max-width: 44.9375rem) 8rem,
             10rem"
      width="128"
      height="128"
    >
  </picture>
  <h1 class="welcome">
    <span class="welcome__subheading">Welcome</span>
    <span class="welcome__title">I'm Tomas Pustelnik</span>
  </h1>
  <p>I'm front-end developer with focus on semantic HTML, CSS, performance and accessibility. Author of few small open-source projects and founder of <a href="https://clipio.app">Clipio</a> &mdash; a web clipping tool for Notion. Currently helping build React at <a href="https://www.ataccama.com/">Ataccama</a>. Fan of great and clever design, tooling addict and neverending learner.</p>

  <p>I write irregularry about front-end development and about my founder's journey.</p>
</div>

<div class="u-margin-b-3  tablet-u-margin-b-4">
  <h2>Latest articles</h2>
  {% set listing = collections.blogposts | head(-2) | reverse %}
  {% include 'post_listing.njk' %}
  {% if collections.blogposts | length > 2 %}
    <div class="more">
      <a href="{{ '/blog/' | url }}" class="more__link">More articles</a>
    </div>
  {% endif %}
</div>

<div>
  <h2>My Projects</h2>
  {% set listing = collections.featuredProjects | head(2) %}
  {% include 'project_listing.njk' %}
  {% if collections.featuredProjects | length > 2 %}
    <div class="more">
      <a href="{{ '/projects/' | url }}" class="more__link">More projects</a>
    </div>
  {% endif %}
</div>
