---
title: Projects
layout: layouts/page.njk
eleventyNavigation:
  key: Projects
  order: 4
description: Hobby projects I have built. Mostly OSS, not always up-to-date, feel free to have a look.
---
<h1>Projects</h1>
{% set listing = collections.featuredProjects %}
{% set headingLevel = 'h2' %}
{% include 'project_listing.njk' %}
